<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Доска с объявлениями фанатов игры</title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <h2>Fan site of famous MMORPG game </h2>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'postlist' %}">Posts</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'commentlist' %}">Comments</a></li>

                        {% if user.is_authenticated %}
                          <li class="nav-item"><a class="nav-link" href="{% url 'userpage' %}">My personal page</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Log Out</a></li>
                        {% else %}  
                          <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">LogIn</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">SignUp</a></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
    
    {% block content %}
    
    {% endblock content %}
    </body>
</html>
