{% extends "base.html" %}

{% block title %}List of comments{% endblock %}

{% block content %}
<h1>List of comments</h1>

{% if commentlist %}

        {% for p in commentlist %}
            <hr>
            <p><a href="{{p.pk}}">Comment</a> to "{{ p.post }}" in category "{{ p.post.category }}" |<i>Published by {{ p.author }} on {{ p.date }} | Approval status: {{ p.approved }}<i></p> 
            <p>{{ p.text|truncatewords:15 }}</a></p>
            <hr>
        {% endfor %}
        
{% else %}
    <h2>No comments yet!</h2>
{% endif %}

{% if page_obj.has_previous %}
<a href="?page=1">1</a>
{% if page_obj.previous_page_number != 1 %}
    ...
    <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{# Информация о текущей странице #}
{{ page_obj.number }}

{# Информация о следующих страницах #}
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
    ...
    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}

{% endblock content %}
