{% extends "base.html" %}

{% block title %}Comment (detailed information){% endblock %}

{% block content %}

<p><b>Comment to "{{ object.post }}" in category "{{ object.post.category }}"</b></p>
<p> <i>Published by {{ object.author }} on {{ object.date }}</i></p> 
<p>{{ object.text }}</a></p>
<p><i>Approval status: {{object.status }}</i></p>


{% if user == object.author %}
<p>You can <a href="{% url 'comment_update' object.pk %}">modify</a> this comment. Or you can <a href="{% url 'comment_delete' object.pk %}">delete</a>  this comment.</p>
{% endif %}
<br>
<br>


{% endblock content %}