{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
    <p>You are logged in as <b>{{ user.username }}</b>! You can :</p>
    <p>- read <a href="{% url 'postlist' %}">posts</a> and <a href="{% url 'commentlist' %}">comments</a></p>
    <p>- <a href="{% url 'post_create' %}">add</a> new posts, edit and delete your posts</p>
    <p>- <a href="{% url 'comment_create' %}">add</a> new comments, edit and delete your comments</p>
    <p>- review and approve or reject comments of other gamers to your posts</p>
    {% else %}
    <p>You are not logged in.</p>
    <p>You can read <a href="{% url 'postlist' %}">posts</a> and <a href="{% url 'commentlist' %}">comments</a>.</p>
    <p>But you need to <a href="{% url 'login' %}">log in</a> or <a href="{% url 'signup' %}">register</a> if you want to issue posts, edit and delete them and add comments to the posts of other gamers.</p>

    {% endif %}

{% endblock %}