{% extends "base.html" %}

{% block title %}Personal page{% endblock %}

{% block content %}
<h1>Personal web page of {{request.user.username}}</h1>
<hr>
<form action="" method="get">
    {{ filterset.form }}
    <input type="submit" value="Find">
</form>
<button><a href="{% url 'userpage' %}">Reset filter</a></button>
<h4>Все отклики на выбранное объявление</h4>
{% if comments %}
{% for comment in comments %}
<p>{{ comment.author }}</p>
<p>{{ comment.approved }}</p>
{% endfor %}
{% endif %}

{# Информация о текущей странице #}
{{ page_obj.number }}

{# Информация о следующих страницах #}
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
    ...
    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}

{% endblock content %}
