{% extends "base.html" %}

{% block title %}Personal page{% endblock %}

{% block content %}
<h1>Personal web page of {{request.user.username}}</h1>
<hr>
<form action="" method="get">
    {{ filterset.form }}
    <input type="submit" value="Find">
</form>
<br>
<button><a href="{% url 'userpage' %}">Reset filter</a></button>
<h4>Все отклики на выбранное объявление:</h4>
{% if comments %}
    {% for comment in comments %}
        <hr>    
        <p>{{ comment.author }}: {{ comment.text }}</p>
        <p>Status of this comment: {{ comment.status }}</p>
        <p>Change status: 
            {% if comment.status == 'undefined' %}
                <form method="post" action="">
                <!-- <form method="get" action="{% url 'accept_comment' comment.id %}"> -->
                    {% csrf_token %}
                    <button type="submit">Approve</button> 
                </form>
                <form method="post" action="#">
                    {% csrf_token %}
                    <button type="submit">Reject</button> 
                </form>
            {% else %}
                <form method="post" action="#"> 
                    {% csrf_token %}
                    <button type="submit">Reset to undefined</button>
                </form>
            {% endif %}
        </p>
        <hr>

    {% endfor %}
{% endif %}



{# Информация о текущей странице #}
{{ page_obj.number }}

{# Информация о следующих страницах #}
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
    ...
    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}

{% endblock content %}
